// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$vt_xs: 600px;
$vt_sm: 961px;
$vt_md: 1265px;
$vt_lg: 1905px;

$vt_container_max: 1200px;

$color_primary: #22242a;
$color_secondary: #8b949e;

$color_black: black;
$color_gray: #9b9b9b;
$color_gray2: #e5e5e5;
$color_light_gray: #f8f8f8;
$color_white: #fff;

@import "./typo.scss";
@import "./vuetify.scss";
@import "./common.scss";
@import "./markdown.scss";
