// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$vt_xs: 600px;
$vt_sm: 961px;
$vt_md: 1265px;
$vt_lg: 1905px;

$vt_container_max: 1200px;

$color_primary: #22242a;
$color_secondary: #f64c72;

$color_black: #4a4a4a;
$color_gray: #9b9b9b;
$color_gray2: #e5e5e5;
$color_light_gray: #f8f8f8;
$color_white: #fff;

$font_family: sans-serif;
$font_family_ko: "sans-serif";
$font_family_en: "sans-serif";

@import "./typo.scss";
@import "./vuetify.scss";
@import "./common.scss";
